/* Importações do Tailwind (devem vir primeiro) */
@import "tailwindcss";

/* 1. Defina sua fonte local com um nome personalizado */
@font-face {
  font-family: 'FuturaBT'; /* Demos um nome para a fonte */
  src: url('./assets/font/futura.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* 2. Suas animações e outras classes personalizadas */
@layer utilities {
  /* Definição da animação de keyframes "float" */
  @keyframes float {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  /* Classe utilitária para aplicar a animação */
  .animate-float {
    animation: float 3s ease-in-out infinite;
  }
}